<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
<center>
    <h2>Welcome, <%= name %>!</h2>
    <h4>Add Category</h4>
    <button onclick="location.href='/category/add'">Add Category</button>

    <h4>Add Task</h4>
    <button onclick="location.href='/task/add'">Add Task</button>

<!--    <button onclick="location.href='/auth/login'">Sign In</button>-->
<!--<h4>Admin Access</h4>-->
</center>
</body>
</html>